{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
<h1>Add a new topic</h1>
{% endblock page_header %}

{% block content %}


<a class="btn btn-primary" style="color: white" href="{% url 'learning_logs:topics' %}">
    <i class="bi bi-arrow-left"></i>
    Topics
</a>


<form action="{% url 'learning_logs:new_topic' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-success" name="submit">
        add topic
        <i class="bi bi-check-lg"></i>
    </button>
</form>

{% endblock content %}