{% extends "learning_logs/base.html" %}

{% block page_header %}
<h1>Add a new entry</h1>
{% endblock page_header %}

{% block content %}

<p>
    <a class="display-6 btn btn-primary" style="color: white" href="{% url 'learning_logs:topic' topic.id %}">
        <i class="bi bi-arrow-left"></i>
        {{ topic|truncatechars:20 }}
    </a>
</p>

<form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success" name="submit">
        add entry
        <i class="bi bi-check-lg"></i>
    </button>
</form>

{% endblock content%}