{% extends "learning_logs/base.html" %}


{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

<p>
    <a class="btn btn-primary mb-1" style="color: white" href="{% url 'learning_logs:new_topic' %}">
        <i class="bi bi-folder-plus me-1"></i>
        add a new topic
    </a>
</p>

{% for topic in topics %}
    <a class="border border-3 p-2 my-2 rounded d-flex align-items-center text-decoration-none topic-item"
       style="color: #0d6efd"
       href="{% url 'learning_logs:topic' topic.id %}">
        <i class="bi bi-folder pe-2"></i>
        {{ topic|truncatechars:20 }}
        <i class="bi bi-caret-right-fill ms-auto"></i>
    </a>
{% empty %}
    <p>No topics have been added yet.</p>
{% endfor %}

{% endblock content %}