{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
    <div class="">
        <div class="card card-edit border-1 rounded-4">
            <div class="card-body p-4">

                <h2 class="text-center mb-4">
                    Create account
                </h2>

                <form method="post">
                    {% csrf_token %}

                    {% bootstrap_form form %}

                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}